/* Copyright: (c) 2023 monostrider (https://monostrider.com) */

@font-face {
	font-family: "iosveka";
	font-weight: 100;
	font-style: normal;
	src: url("fonts/iosveka/iosevka-thin.woff2") format("woff2");
}
@font-face {
	font-family: "iosveka";
	font-weight: 200;
	font-style: normal;
	src: url("fonts/iosveka/iosevka-extralight.woff2") format("woff2");
}
@font-face {
	font-family: "iosveka";
	font-weight: 300;
	font-style: normal;
	src: url("fonts/iosveka/iosevka-light.woff2") format("woff2");
}
@font-face {
	font-family: "iosveka";
	font-weight: 400;
	font-style: normal;
	src: url("fonts/iosveka/iosevka-regular.woff2") format("woff2");
}
@font-face {
	font-family: "iosveka";
	font-weight: 400;
	font-style: italic;
	src: url("fonts/iosveka/iosevka-italic.woff2") format("woff2");
}
@font-face {
	font-family: "iosveka";
	font-weight: 700;
	font-style: normal;
	src: url("fonts/iosveka/iosevka-bold.woff2") format("woff2");
}
@font-face {
	font-family: "iosveka";
	font-weight: 700;
	font-style: italic;
	src: url("fonts/iosveka/iosevka-bolditalic.woff2") format("woff2");
}

:root {
	/* contrasting relative to background */
	--color-background: #000000;
	
	--color-background-high: #3385b3;
	--color-background-medium: #a94193;
	--color-background-low: #222222;
	
	--color-foreground-high: #ffffff;
	--color-foreground-medium: #777777;
	--color-foreground-low: #444444;
	
	--color-transparent: #000000ff;
	
	--color-abberation-left:  #37d8fc77;
	--color-abberation-right: #fc5db777;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.fadein-1s {
	animation: fadein 1s;
}
.fadein-2s {
	animation: fadein 2s;
}

* {
	margin: 0;
	padding: 0;
}
body, html {
	background-color: var(--color-background);
	color: var(--color-foreground-high);
	
	font-family: "iosveka", monospace;
	font-size: 12pt;
	font-weight: 400;
	font-variant-ligatures: none;
	
	overflow-x: hidden;
}
body {
	margin-right: 20px; /* before screen edge */
}

a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline 1px;
}

h1, h2, h3, h3, h5 {
	font-size: inherit;
	font-weight: inherit;
}

code {
	font-family: "iosveka", monospace;
	font-size: 10pt;
	font-weight: 300;
	tab-size: 8;
}

.marginless {
	margin: 0 !important;
}
.paddingless {
	padding: 0 !important;
}

.bordered {
	background-color: var(--color-background);
	border: solid;
	border-width: 2px;
	border-color: var(--color-background-low);
	
	max-width: 600px;
	
	padding: 30px;
}
.borderless {
	border-left: none !important;
}
.indent {
	background-color: var(--color-background); /* cover-up border */
	color: var(--color-background-low);
	
	font-size: 19px;
	font-weight: 700;
	
	margin-left: 20px;
	margin-top: -11px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
}

p {
	margin: 0;
}
p.regular {
	font-size: 12pt;
	font-weight: 400;
}
p.light {
	font-size: 14pt;
	font-weight: 200;
}
p.compact {
	font-size: 11pt;
	font-weight: 200;
	
	max-width: 350px;
	
	margin: 20px;
	padding: 10px;
}

strong {
	color: var(--color-background-high);
	
	font-weight: 700;
}

h2 {
	color: var(--color-foreground-low);
	
	font-size: 22pt;
	font-weight: 200;
}
h3 {
	color: var(--color-background-medium);
	
	font-size: 15pt;
	font-weight: 700;
}
h4 {
	color: var(--color-background-medium);
	font-weight: 700;
}

ol, ul {
	list-style-type: none;
}
ol.dots, ul.dots {
	list-style-type: none;
}

section {
	margin-top: 40px;
}
section + section {
	margin-top: 60px;
}

header {
	padding-left: 110px;
	padding-top: 120px;
}
header.underlay {
	background-attachment: fixed;
	background-image: url("images/underlay.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: 1920px 1920px;
	
	height: calc(100vh - 120px); /* account for top padding */
}
header.banner {
	background-image: url("images/underlay_alt.png");
	padding-bottom: 80px;
	height: auto;
}

a > img.logo {
	transition: filter 0.5s cubic-bezier(0.58, 1.51, 0.0, 1.59);
	
	max-width: 460px;
	min-width: 320px;
	width: 100%;
}
a:hover > img.logo {
	filter: drop-shadow(6px 2px var(--color-abberation-left)) drop-shadow(-6px -2px var(--color-abberation-right));
	text-decoration: none;
}

nav {
	display: inline-block; /* for aligning with qr-code */
	margin-left: 20px;
	margin-top: 20px;
}
nav a {
	background-color: transparent;
	transition: background-color 0.1s ease-in;
	
	font-size: 32pt;
	font-weight: 200;
	letter-spacing: -2px;
}
nav a:hover {
	background-color: var(--color-abberation-right);
	color: var(--color-background);
	font-weight: 300;
	text-decoration: none;
}

main {
	margin-top: 40px;
	margin-left: 130px;
}

footer {
	display: flex;
	justify-content: center;
	
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 20px; /* accounted for right body margin */
	margin-top: 80px;
}

p.notice {
	text-align: center;
	max-width: 570px;
}
p.notice > small {
	color: var(--color-foreground-low);
	
	font-size: 10pt;
	font-style: italic;
}

div.split {
	display: grid;
	grid-template-columns: 130px 1fr;
	margin-top: 20px;
}
div.split > div.side {
	/* both sides */
	text-align: right;
	padding-right: 14px;
}
div.split > div.side + div.side {
	/* right side only */
	border-left: 2px solid var(--color-foreground-low);
	text-align: left;
	padding-left: 14px;
	padding-right: 0;
}
div.split > div.side ol {
	list-style-type: none;
}
div.enlarged {
	grid-template-columns: 180px 1fr;
	height: 140px;
}
div.enlarged > div.side {
	display: flex;
	align-items: center;
}
div.shrunken {
	grid-template-columns: 90px 1fr;
}
div.shrunken > div.side + div.side {
	border-left: none;
	padding-left: 0;
}

ol.posts {
	margin-top: 12px;
}
ol.posts > li {
	border-left: solid;
	border-color: var(--color-background-low);
	border-width: 2px;
	
	font-size: 14pt;
	font-weight: 300;
	
	padding: 10px;
	
	width: fit-content;
}
ol.posts > li + li {
	margin-top: 12px;
}
ol.posts > li::before {
	color: var(--color-foreground-medium);
	content: "# ";
	font-weight: 700;
}
ol.posts > li time {
	color: var(--color-foreground-low);
	display: block;
	font-size: 11pt;
	
	margin-top: 5px;
}

div.showcase {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
	
	margin-top: 10px;
}
div.showcase > figure.project {
	background-color: var(--color-background);
	
	border: solid;
	border-color: var(--color-background-low);
	border-width: 2px;
	
	height: fit-content;
	max-width: 380px;
	
	padding: 10px;
}
div.showcase > figure.project img {
	display: block;
	
	/* 4:3 * 128 */
	width: 100%;
	height: auto;
	max-width: 512px;
	max-height: 384px;
}
div.showcase > figure.project h3 {
	color: var(--color-background-high);
	
	font-size: 20pt;
	font-weight: 700;
	writing-mode: vertical-rl;
	word-wrap: break-word;
	height: 240px;
	
	margin: 20px;
	position: absolute;
}
div.showcase > figure.project p {
	font-size: 12pt;
	font-weight: 400;
	
	margin: 20px;
}

img.icon {
	color: var(--color-background-high);
	width: 180px;
}

div.value {
	border-left: solid;
	border-width: 2px;
	border-color: var(--color-background-low);
	
	margin-top: 30px;
	
	max-width: 510px;
}
div.value h3 {
	color: var(--color-background-high);
	
	font-size: 16pt;
	font-style: italic;
	font-weight: 200;
	
	margin-left: 30px;
}
div.value h3.alt {
	color: var(--color-background-medium);

}
div.value p {
	background-color: var(--color-background);
	border: solid;
	border-width: 2px;
	border-color: var(--color-background-low);
	
	font-size: 12pt;
	font-weight: 200;
	
	padding: 10px;
	
	margin-left: 30px;
}
div.value h4 {
	color: var(--color-background-low);
	
	font-size: 18px;
	font-weight: 700;
	writing-mode: vertical-rl;
	word-wrap: break-word;
	
	text-transform: uppercase;
	
	position: absolute;
}

article.post {
	margin-top: 40px;
}

article.post > div.head h2 {
	color: var(--color-foreground-high);
	font-size: 22pt;
	font-weight: 400;
}
article.post > div.head h2::before {
	color: var(--color-foreground-medium);
	content: "# ";
	font-weight: 700;
}
article.post > div.head time {
	color: var(--color-foreground-low);
	display: block;
	font-size: 14pt;
	font-weight: 300;
}

article.post > div.content {
	margin-top: 10px;
	max-width: 800px;
}
article.post > div.content p {
	margin-bottom: 20px;
}
article.post > div.content p + p {
	margin-bottom: 0;
}
article.post > div.content img {
	margin-bottom: 20px;
	
	width: 100%;
	max-width: 512px;
}
article.post > div.content pre {
	background-color: var(--color-background-low);
	
	margin-bottom: 25px;
	padding: 18px;
	
	overflow-x: auto;
	max-width: 80ch;
}

@media (max-width: 1100px) {
	.bordered {
		padding: 15px;
	}
	.compact {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	
	header {
		padding-left: 20px;
	}
	
	main {
		margin-left: 20px;
	}
}

@media (prefers-reduced-motion) {
	*, ::before, ::after {
		animation-delay: -1ms !important;
		animation-duration: 1ms !important;
		animation-iteration-count: 1 !important;
		background-attachment: initial !important;
		scroll-behavior: auto !important;
		transition-duration: 0s !important;
		transition-delay: 0s !important;
	}
}
